<br>
<br>
<div class="center" style="width: 25rem; color: white;">
  <div class="card-body">
    <h5 class="card-title", align="center">Editing project</h5>
    <%= render "form", project: @project %> <hr>
      <%= link_to "Show this project", @project, class: "btn btn-outline-info", style: "width: 150px; height: 38px;" "margin-left: 25px;" %> |
      <%= link_to "Back to projects", projects_path, class: "btn btn-outline-secondary", style: "width: 150px; height: 38px;" %>
  </div>
</div>

