<br>
<br>
<div class="center" style="width: 25rem; color: white;">
  <div class="card-body">
    <h5 class="card-title", align="center">New project</h5>
    <%= render "form", project: @project %> <br>
    <%= link_to "Back to projects", projects_path, class: "btn btn-outline-secondary" %>
  </div>
 </div>
</div>

